<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1> This is my family </h1>
        <hr/>
        
        <ul>
            {% for member in family %}
            <li> Name: {{ member.name }}, Last_name: {{ member.last_name}}, Dni: {{ member.dni }}, Birthday {{ member.birthday }} </li>
         
            <br>
            {%endfor%}
   
        </ul>
    </body>
    </html>
